#main {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}
#logo {
    text {
        stroke: none;
        fill: #000;
        font-size: 100px;
        font-family: 'Homemade Apple', cursive;
    }
    line {
        stroke: none;
        fill: #fff;
    }
}
