
#logo {
    text {
        stroke: none;
        fill: #000;
        font-size: 100px;
        font-family: 'Homemade Apple', cursive;
    }
    line {
        stroke: none;
        fill: #fff;
    }
}
